In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
schema = ['uid','device','song_id','song_type','song_name','singer','play_time','song_length','paid_flag','file_name','label', 'date']

In [4]:
df_play = pd.read_csv('/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/play_sample_log.csv',
                 delimiter='\t',index_col=False,
                 dtype = {'uid':'str', 'song_id':'str','song_type' : 'str'})

/Users/Xiaoxi/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_play.head()

,Unnamed: 0,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,file_name,label,date
0,0,0,154824972,ar,3300104,0,Not A Love Song,Bean,22,178,0.0,20170302_1_play.log,1,20170302
1,1,1,154412619,ar,2268011,0,有一点动心,群星,235,235,0.0,20170302_1_play.log,1,20170302
2,2,2,154830959,ar,238895,0,自由飞翔,凤凰传奇,256,256,0.0,20170302_1_play.log,1,20170302
3,3,3,154826319,ar,4251791,0,爱(2010年春晚歌曲 2010春晚歌曲),小虎队,27962,0,0.0,20170302_1_play.log,1,20170302
4,4,4,154470406,ar,20940997,0,向往-(电视剧《鸡毛飞上天》主题曲),孙楠,5,247,0.0,20170302_1_play.log,1,20170302

In [6]:
df_play = df_play.drop(df_play.columns[0], axis=1)
df_play.head()

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,file_name,label,date
0,0,154824972,ar,3300104,0,Not A Love Song,Bean,22,178,0.0,20170302_1_play.log,1,20170302
1,1,154412619,ar,2268011,0,有一点动心,群星,235,235,0.0,20170302_1_play.log,1,20170302
2,2,154830959,ar,238895,0,自由飞翔,凤凰传奇,256,256,0.0,20170302_1_play.log,1,20170302
3,3,154826319,ar,4251791,0,爱(2010年春晚歌曲 2010春晚歌曲),小虎队,27962,0,0.0,20170302_1_play.log,1,20170302
4,4,154470406,ar,20940997,0,向往-(电视剧《鸡毛飞上天》主题曲),孙楠,5,247,0.0,20170302_1_play.log,1,20170302

In [7]:
df_play.isnull().sum(axis = 0)

index              0
uid                0
device             0
song_id            0
song_type          0
song_name         58
singer         18968
play_time          0
song_length        0
paid_flag          0
file_name          0
label              0
date               0
dtype: int64

### 1. file_name and paid_flag
First drop file_name and paid_flag columns. 

(a) there is a column 'date' contains log date information <br>
(b) In data cleaning file, we noticed there is no real paid users so this columns can be dropped

In [ ]:
df_play = df_play.drop(['paid_flag', 'file_name'], axis=1)

In [11]:
df_play.head()

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date
0,0,154824972,ar,3300104,0,Not A Love Song,Bean,22,178,1,20170302
1,1,154412619,ar,2268011,0,有一点动心,群星,235,235,1,20170302
2,2,154830959,ar,238895,0,自由飞翔,凤凰传奇,256,256,1,20170302
3,3,154826319,ar,4251791,0,爱(2010年春晚歌曲 2010春晚歌曲),小虎队,27962,0,1,20170302
4,4,154470406,ar,20940997,0,向往-(电视剧《鸡毛飞上天》主题曲),孙楠,5,247,1,20170302

In [12]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19136525 entries, 0 to 19136524
Data columns (total 11 columns):
index          int64
uid            object
device         object
song_id        object
song_type      object
song_name      object
singer         object
play_time      object
song_length    object
label          object
date           int64
dtypes: int64(2), object(9)
memory usage: 1.6+ GB

### 2. uid

In [13]:
df_play.uid.value_counts()

751824        4384959
1685126        632794
46532274       487545
1679121        479852
155948236      216315
16517426        72966
398309          56785
168922214       46943
69546515        28998
167671961       20769
168884001       16927
168754908       12489
167677847       11860
167569705       10691
168533031       10379
168904151       10303
168654194       10089
168976529        9040
168510160        8956
154834096        8664
168542503        8599
167804677        8330
168788690        7766
167481248        7526
168960306        7417
168772034        7263
65116455         7048
167958871        7019
168507580        7008
168600735        6924
               ...
154542867           3
167575884           3
168562477           3
168852750           3
168946211           3
168823773           3
154543518           3
168152650           3
154587683           3
168451976           3
168875393           3
154482545           3
154738854           3
167612367           3
168871956           3
168766711           3
168969540           3
154549864           3
167680975           3
168525000           3
168807352           3
154676449           3
155297501           3
166882838           2
168830779           2
168880706           2
168896456           2
168762311           2
169206390           1
154675124           1
Name: uid, Length: 73511, dtype: int64

#### There are some users have way more than usual number of logs.
#### Say one log takes one min, there are 24*60 = 1440 mins per day. Thoes uses have more than 1440 logs per date should be robots.

In [14]:
res = df_play[['uid','date','song_id']].groupby(['uid','date']).count().rename(columns={'song_id': 'count'})

In [15]:
res.head(20)

                     count
uid        date
100077577  20170331     17
100419770  20170331      1
           20170401     14
           20170402     23
           20170405      2
           20170406      2
           20170407      4
           20170408      7
           20170430      5
           20170501     42
100474444  20170339     69
100751531  20170301     16
           20170303      3
           20170304      7
101231687  20170330    105
           20170331     36
           20170401     36
           20170404      1
           20170405    159
           20170406    159

In [16]:
res_agg = res.groupby('uid')['count'].agg(['sum','count'])

In [17]:
res_agg.head()

             sum  count
uid
100077577     17      1
100419770    100      9
100474444     69      1
100751531     26      3
101231687   1007     22

In [18]:
res_agg['avg_logs'] = res_agg['sum']/res_agg['count']

In [19]:
res_agg.head()

             sum  count   avg_logs
uid
100077577     17      1  17.000000
100419770    100      9  11.111111
100474444     69      1  69.000000
100751531     26      3   8.666667
101231687   1007     22  45.772727

In [20]:
uid_robot = res_agg[res_agg['avg_logs'] > 1440].index

In [21]:
uid_robot

Index([u'121030149', u'155948236', u'16517426', u'1679121', u'1685126 ',
       u'398309 ', u'46532274', u'751824'],
      dtype='object', name=u'uid')

In [22]:
uid_robot = set(uid_robot)

In [23]:
uid_robot

{'121030149',
 '155948236',
 '16517426',
 '1679121',
 '1685126 ',
 '398309 ',
 '46532274',
 '751824'}

In [24]:
# Remove those suspecious robot users
df_play = df_play[~df_play['uid'].isin(uid_robot)]

In [25]:
df_play.shape

(12800698, 11)

In [26]:
del res, res_agg

### 3. Device type was already taken care in data cleansing step.

In [27]:
df_play.device.value_counts()

ar    10588042
ip     2212656
Name: device, dtype: int64

### 4. Date

In [28]:
df_play.groupby('date').size()

date
0              164
168              5
169              1
238              2
260              5
20170301    320529
20170302    243506
20170303    168531
20170304    146172
20170305    141878
20170306    116696
20170307    114100
20170308    114714
20170309     99805
20170330    453852
20170331    623104
20170339    192206
20170401    496435
20170402    453141
20170403    258154
20170404    384626
20170405    320906
20170406    323728
20170407    325841
20170408    324054
20170409    308806
20170410    279484
20170411    178933
20170412    267814
20170413    268438
20170414    174616
20170415    264812
20170416    260261
20170417    236136
20170418    231947
20170419    230872
20170420    220441
20170421    226041
20170422    230183
20170423    231059
20170424    112321
20170425    214152
20170426    201190
20170427    222649
20170428    204768
20170429    214888
20170430    203552
20170501    197646
20170502    181210
20170503    181939
20170504    180844
20170505    181151
20170506    190329
20170507    189405
20170508    177387
20170509    174556
20170510    181381
20170511    182806
20170512    176526
dtype: int64

#### Convert date to string and remove the three outlier: 0, 168, 169, 238, 260

In [29]:
filter_date = set([0, 168, 169, 238, 260])

In [30]:
df_play = df_play[~df_play['date'].isin(filter_date)]

In [31]:
df_play['date'] = df_play['date'].astype('string')

In [32]:
df_play[['date']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12800521 entries, 0 to 19136524
Data columns (total 1 columns):
date    object
dtypes: object(1)
memory usage: 195.3+ MB

In [33]:
# Check the churn rate for different date
df_play.groupby(['date','label']).size()

date      label
20170301  1.0      106581
          1        136627
          1.0       77321
20170302  1.0      191657
          1         51842
          1.0           7
20170303  1.0       76045
          1         92192
          1.0         294
20170304  1.0       63277
          1         82895
20170305  1.0       42927
          1         98731
          1.0         220
20170306  1.0       83721
          1         32523
          1.0         452
20170307  1.0       77547
          1         36155
          1.0         398
20170308  1.0       71403
          1         42728
          1.0         583
20170309  1.0       59967
          1         39251
          1.0         587
20170330  0.0      181384
          1.0      213505
          0         26511
          0.0         546
                    ...
20170430  0.0        5042
20170501  0.0      103673
          0         89124
          0.0        4849
20170502  0.0      161387
          0         18513
          0.0        1310
20170503  0.0       69468
          0        112471
20170504  0.0       63316
          0        116149
          0.0        1379
20170505  0.0      141766
          0         39385
20170506  0.0      190329
20170507  0.0      189405
20170508  0.0      137067
          0         29946
          0.0       10374
20170509  0.0      137519
          0         37037
20170510  0.0       57749
          0         81298
          0.0       42334
20170511  0.0      104129
          0         55639
          0.0       23038
20170512  0.0      133611
          0         22392
          0.0       20523
Length: 206, dtype: int64

#### 5. Song type

In [34]:
df_play.song_type.unique()

array(['0 ', '1 ', ' ', '2 ', '(112.12.48.11)TM ', '0(117.148.119.127)TM ',
       '(180.95.144.116)TM ', '(117.149.49.128)TM ',
       '(220.248.200.131)TM ', '0(183.166.120.65)TM ',
       '0(111.19.79.220)TM ', '(117.148.119.127)TM ', '(117.148.81.95)TM ',
       '3 ', '0(39.187.201.183)TM ', '0(223.95.49.177)TM ',
       '0(111.19.79.127)TM ', '0(220.165.215.34)TM ',
       '0(117.148.124.197)TM ', '(220.165.215.34)TM ',
       '1(112.12.48.134)TM ', '0(117.148.81.112)TM ',
       '(182.242.93.197)TM ', '0(182.242.93.197)TM ', '(112.12.48.57)TM ',
       '0(112.12.48.57)TM ', '(112.12.49.22)TM ', '(180.173.66.181)TM ',
       '(112.12.41.104)TM ', '0(222.221.206.247)TM ', '(43.242.153.78)TM ',
       '(117.149.48.53)TM ', '0(117.149.48.53)TM ', '(61.156.32.141)TM ',
       '0', '1', '2', '3', '(114.104.43.95)TM ', '0(114.104.43.95)TM ',
       '0(112.114.34.204)TM ', '1(112.114.34.204)TM ',
       '0(112.12.40.35)TM ', '(111.2.103.154)TM ', '(182.110.183.107)TM ',
       '(112.11.146.37)TM '], dtype=object)

In [35]:
df_play.song_type = df_play.song_type.apply(lambda x: str(x).split('(')[0].rstrip())

In [36]:
df_play.song_type.value_counts()

0    11464702
1     1212490
2      115999
         5620
3        1710
Name: song_type, dtype: int64

In [37]:
# There are some missing values in song_type, impute with most common song_type 0
df_play.loc[df_play['song_type'] == '',['song_type']] = '0'

In [38]:
df_play.song_type.value_counts()

0    11470322
1     1212490
2      115999
3        1710
Name: song_type, dtype: int64

#### 6. Label

In [39]:
df_play.label.value_counts()

0.0    6377672
0      2644995
1.0    2023020
1      1087469
0.0     518936
1.0     148429
Name: label, dtype: int64

In [40]:
# Convert label to int
df_play['label'] = df_play['label'].apply(lambda x: str(x).split('.')[0])

In [41]:
df_play.label.value_counts()

0    9541603
1    3258918
Name: label, dtype: int64

#### 7. Play time

play_time are strings. Some are has '>' in it. Split with '>' and keep only the part in front of '>'. 

Then, change the type to float

In [42]:
df_play.play_time.value_counts()

0                         2071968
1                          330527
0                          248803
2                          202664
3                          149763
4                          128452
5                          101025
10                          79872
6                           75008
7                           63394
199                         62839
249                         62534
9                           61301
231                         56163
8                           55588
257                         55002
248                         52785
229                         52258
230                         52228
250                         50793
204                         50502
1                           50115
261                         49239
256                         48120
235                         46189
238                         45450
260                         45386
225                         44968
245                         44909
226                         44477
                           ...
307664                          1
0>(140.206.88.188)TM            1
255895                          1
116>}(175.5.243.63)TM          1
248132                          1
248137                          1
140439                          1
295.085642325                   1
392>=(101.4.136.45)TM           1
91>=(39.130.12.157)TM           1
111050                          1
347231                          1
0>}(42.238.206.83)TM           1
41253                           1
424473                          1
96092                           1
259050                          1
96099                           1
251968                          1
8>=(112.14.95.84)TM             1
5>}(113.89.13.74)TM            1
503103                          1
197>=(36.47.138.28)TM           1
21014                           1
191320                          1
210149                          1
210145                          1
210143                          1
259059                          1
8937                            1
Name: play_time, Length: 144825, dtype: int64

In [44]:
df_play['play_time'] = df_play['play_time'].astype('string').apply(lambda x: x.split('>')[0])
df_play.play_time.value_counts()

0                    2079570
1                     332398
0                     248803
2                     204293
3                     151000
4                     134342
5                     120489
10                     80435
6                      76328
7                      64126
199                    62891
249                    62571
9                      61792
8                      56287
231                    56201
257                    55016
248                    52805
229                    52301
230                    52265
250                    50815
204                    50549
1                      50115
261                    49255
256                    48142
235                    46217
238                    45486
260                    45418
225                    45032
245                    44926
226                    44517
                      ...
306292                     1
310870                     1
311588                     1
126295                     1
7.347577834                1
84102                      1
235255                     1
235254                     1
235256                     1
162912                     1
396337                     1
261319                     1
4298                       1
275528                     1
100.5883333333333          1
171438                     1
171439                     1
171433                     1
249323                     1
28.446828714               1
211476                     1
80.94333333333333          1
4295                       1
4297                       1
4293                       1
335018                     1
337679                     1
176521                     1
37235                      1
8937                       1
Name: play_time, Length: 99546, dtype: int64

In [45]:
df_play['play_time'] = df_play['play_time'].convert_objects(convert_numeric= True)

/Users/Xiaoxi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [47]:
df_play[['play_time']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12800521 entries, 0 to 19136524
Data columns (total 1 columns):
play_time    float64
dtypes: float64(1)
memory usage: 515.3 MB

#### 8. Song_id
song_id should be an integer or a string of numbers without decimal

The corner case is where song_id == '0'. There are more than 500k logs with '0' as song_id, but they 
are actually different songs:

    Some songs have '0' and another song_id

    Some songs only have '0' as song_id

song_id imputation:

    1) change the song_id to its most frequent appeared values, if there is value other than '0'

    2) if it doesn't have another song_id, create new song_ids.

What is needed is a {(song_name, singer, song_type):song_id} dictionary.

In [ ]:
df_play.song_id = df_play.song_id.apply(lambda x: x.split('.')[0].rstrip())

In [ ]:
df_play.loc[df_play.song_id == '0']

In [ ]:
df_play.groupby(['song_name','singer','song_type']).size().shape

In [ ]:
df_play.groupby(['song_name','singer','song_type','song_id']).size().shape

Although the combination of ('song_name','singer','song_type') can identify a song without ambiguity, there 
ISN'T an one-to-one mapping from ('song_name','singer','song_type') to 'song_id'.

Find out the duplicated 'song_id's

In [100]:
# Notice there are some empty spaces as inputs in song_name and singer, strip tailoring spaces
df_play[['song_name', 'singer']] = df_play[['song_name', 'singer']].applymap(lambda x: x.rstrip())

In [101]:
df_play.isnull().sum(axis = 0)

index             0
uid               0
device            0
song_id           0
song_type         0
song_name         0
singer            0
play_time      7236
song_length       0
label             0
date              0
dtype: int64

In [69]:
# Then remove the logs with nan song_name and singer, totally 58 logs
df_play = df_play.loc[df_play.song_name.notnull() & \
                      df_play.singer.notnull()]
df_play.isnull().sum(axis = 0)

index             0
uid               0
device            0
song_id           0
song_type         0
song_name         0
singer            0
play_time      7236
song_length       0
label             0
date              0
dtype: int64

In [102]:
# Count number of logs groupped by song_name, singer and song_type 
song_id_groupby_df = df_play[['song_name','singer','song_type','song_id']]\
                        .groupby(['song_name','singer','song_type']).count().rename(columns={'song_id': 'count'})

In [103]:
# make new song_id with the play times rank, where more played song is ranked as 1st.
song_id_groupby_df['song_id_new'] = song_id_groupby_df['count'].rank(method = 'first', ascending = False).astype('int')

In [104]:
song_id_groupby_df.reset_index(inplace = True)

In [117]:
song_id_groupby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618481 entries, 0 to 618480
Data columns (total 5 columns):
song_name      618481 non-null object
singer         618481 non-null object
song_type      618481 non-null object
count          618481 non-null int64
song_id_new    618481 non-null int64
dtypes: int64(2), object(3)
memory usage: 23.6+ MB

In [105]:
song_id_groupby_df.head(10)

  song_name     singer song_type  count  song_id_new
0                              0    376         4673
1                              1      1       390853
2                              2     16        82456
3               BoM;HI         0      1       390854
4                Kassy         0      2       294242
5            Tez cadey         1      1       390855
6              Twinbed         1      2       294243
7                  刘恺威         1      1       390856
8                   威仔         0      1       390857
9            小北;浅浅[主播]         1      1       390858

In [108]:
song_id_groupby_df.loc[2, 'song_name']

''

In [109]:
# Merge new_song_id to create a new dataframe
df_play_log = pd.merge(df_play, song_id_groupby_df,  how='left', \
                       left_on=['song_name','singer','song_type'], \
                       right_on = ['song_name','singer','song_type'])

In [110]:
df_play_log.head()

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count,song_id_new
0,0,154824972,ar,3300104,0,Not A Love Song,Bean,22.0,178,1,20170302,2,311464
1,1,154412619,ar,2268011,0,有一点动心,群星,235.0,235,1,20170302,87,19974
2,2,154830959,ar,238895,0,自由飞翔,凤凰传奇,256.0,256,1,20170302,5609,116
3,3,154826319,ar,4251791,0,爱(2010年春晚歌曲 2010春晚歌曲),小虎队,27962.0,0,1,20170302,6,175551
4,4,154470406,ar,20940997,0,向往-(电视剧《鸡毛飞上天》主题曲),孙楠,5.0,247,1,20170302,2557,411

In [114]:
df_play_log.shape, df_play.shape

((12787364, 13), (12787364, 11))

In [116]:
df_play_log['song_id_new'].isnull().sum()

0

In [118]:
# get favorite songs info
popular_songs = df_play_log['song_id_new'].value_counts()[:200].index

popular_songs[100:110]

Int64Index([101, 102, 103, 104, 105, 106, 107, 108, 109, 110], dtype='int64')

In [119]:
# the rarely played songs are also worth examining.
rarely_played = sum(df_play_log['song_id'].value_counts()<2)
rarely_played

224072

In [121]:
rarely_played_songs = df_play_log.song_id_new.value_counts()[-1:-rarely_played-1:-1].index
len(rarely_played_songs)

224072

In [123]:
# searching play log of a certain rare song
df_play_log[df_play_log.song_id_new == rarely_played_songs[0]]

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count,song_id_new
4958456,6724684,168818987,ar,6413574,0,第0367章 节节攀升!晋级!,上译忠臣,737.0,737,0,20170407,1,577276

In [125]:
song_id_groupby_df[song_id_groupby_df.song_id_new == rarely_played_songs[0]]

              song_name singer song_type  count  song_id_new
505989  第0367章 节节攀升!晋级!   上译忠臣         0      1       577276

### 9.singer

In [133]:
singer_groupby_df = df_play[['singer','song_id']]\
                   .groupby(['singer']).count().rename(columns={'song_id': 'count'})

In [134]:
singer_groupby_df.reset_index(inplace = True)
singer_groupby_df.head()

     singer  count
0             3979
1    .飞ルメゞ      1
2  Free葵子      1
3   ╰晓心╯      2
4   ＂飞少■メ     53

In [136]:
singer_groupby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81849 entries, 0 to 81848
Data columns (total 2 columns):
singer    81849 non-null object
count     81849 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [142]:
singer_groupby_df['singer_popularity_rank'] = singer_groupby_df[['count']].rank(method = 'first', ascending = False).astype(int)

In [143]:
singer_groupby_df.head()

     singer  count  singer_popularity_rank
0             3979                     503
1    .飞ルメゞ      1                   60242
2  Free葵子      1                   60243
3   ╰晓心╯      2                   49951
4   ＂飞少■メ     53                   11230

In [144]:
# Merge singer_popularity to create a new dataframe
df_play_log = pd.merge(df_play_log, singer_groupby_df,  how='left', \
                       left_on=['singer'], \
                       right_on = ['singer'])

In [145]:
df_play_log.head()

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count_x,song_id_new,count_y,singer_popularity_rank
0,0,154824972,ar,3300104,0,Not A Love Song,Bean,22.0,178,1,20170302,2,311464,101,7468
1,1,154412619,ar,2268011,0,有一点动心,群星,235.0,235,1,20170302,87,19974,76267,17
2,2,154830959,ar,238895,0,自由飞翔,凤凰传奇,256.0,256,1,20170302,5609,116,84943,11
3,3,154826319,ar,4251791,0,爱(2010年春晚歌曲 2010春晚歌曲),小虎队,27962.0,0,1,20170302,6,175551,12534,141
4,4,154470406,ar,20940997,0,向往-(电视剧《鸡毛飞上天》主题曲),孙楠,5.0,247,1,20170302,2557,411,10028,187

In [146]:
df_play_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12787364 entries, 0 to 12787363
Data columns (total 15 columns):
index                     int64
uid                       object
device                    object
song_id                   object
song_type                 object
song_name                 object
singer                    object
play_time                 float64
song_length               object
label                     object
date                      object
count_x                   int64
song_id_new               int64
count_y                   int64
singer_popularity_rank    int64
dtypes: float64(1), int64(5), object(9)
memory usage: 1.5+ GB

In [148]:
# get favorite songs info
popular_singers = df_play_log['singer_popularity_rank'].value_counts()[:200].index

popular_singers[100:110]

Int64Index([101, 102, 103, 104, 105, 106, 107, 108, 109, 110], dtype='int64')

### reduce the size of the df_play_log
In the following analysis, the original song_id, song_names and singer can be ommitted from the df_play_log, while the only information left is song_id_new, singer_popularity_rank.

In [149]:
df_play_log = df_play_log.drop(['song_name','singer','count_x','count_y'],axis = 1)
df_play_log.head()

,index,uid,device,song_id,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank
0,0,154824972,ar,3300104,0,22.0,178,1,20170302,311464,7468
1,1,154412619,ar,2268011,0,235.0,235,1,20170302,19974,17
2,2,154830959,ar,238895,0,256.0,256,1,20170302,116,11
3,3,154826319,ar,4251791,0,27962.0,0,1,20170302,175551,141
4,4,154470406,ar,20940997,0,5.0,247,1,20170302,411,187

In [150]:
df_play_log.drop(['song_id'], axis = 1, inplace = True)
df_play_log.head()

,index,uid,device,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank
0,0,154824972,ar,0,22.0,178,1,20170302,311464,7468
1,1,154412619,ar,0,235.0,235,1,20170302,19974,17
2,2,154830959,ar,0,256.0,256,1,20170302,116,11
3,3,154826319,ar,0,27962.0,0,1,20170302,175551,141
4,4,154470406,ar,0,5.0,247,1,20170302,411,187

#### Save current data frames

In [151]:
play_file = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/reduced_play_log.csv'
df_play_log.to_csv(play_file,sep = '\t', mode = 'a', encoding = 'utf-8')

In [152]:
# also save into .pickle
play_file_pickle = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/outputreduced_play_log.pkl'
df_play_log.to_pickle(play_file_pickle)

In [154]:
# songs
song_file = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/songs.csv'
song_id_groupby_df.to_csv(song_file,sep = '\t', mode = 'a')

In [155]:
song_file_pickle = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/songs.pkl'
song_id_groupby_df.to_csv(song_file_pickle)

In [156]:
singer_file = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/singers.csv'
singer_groupby_df.to_csv(singer_file,sep = '\t', mode = 'a')

In [157]:
singer_file_pickle = '/Users/Xiaoxi/Desktop/BitTiger/Capstone/data/output/singers.pkl'
singer_groupby_df.to_csv(singer_file_pickle)